name: Deploy COS-SERVICE with Docker

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      REGISTRY: registry.cn-hangzhou.aliyuncs.com
      NAME_SPACE: k_common
      IMAGE: cos


    steps:
      # 1. 检出代码
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set environment variables
        run: |
          echo "COS_SECRET_ID=${{ secrets.COS_SECRET_ID }}" >> .env
          echo "COS_SECRET_KEY=${{ secrets.COS_SECRET_KEY }}" >> .env
          echo "COS_BUCKET=${{ secrets.COS_BUCKET }}" >> .env
          echo "COS_REGION=${{ secrets.COS_REGION }}" >> .env

      - name: Log in to Alibaba Cloud Container Registry
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin ${{env.REGISTRY}}

      - name: Build and push Docker image
        run: |
          TAG=$(date +%Y%m%d_%H%M%S)
          docker build -t ${{env.REGISTRY}}/${{env.NAME_SPACE}}/${{env.IMAGE}}:${TAG} .
          docker push ${{env.REGISTRY}}/${{env.NAME_SPACE}}/${{env.IMAGE}}:${TAG}